
.star__content {
    display: inline-block;
  }
  
  .btn__star {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 5px;
    outline: none;
  }
  
  .star {
    font-size: 3rem;
    color: gray;
  }
  
  .star.on {
    color: gold;
  }
  
  .star.off {
    color: gray;
  }
  